:root{
    --white: #FFFFFF;
    --black: #000000;
    --red: #f45b14;
    /* --green1: #009961; */
    --green2 : #8EC542;
    --green3 : #AAD293;
    --green1 : #03611A;
    --gray1 : #8A8988;
    --gray2 : #D6D5DA;
    --lightBlack: #282828;
}
:focus-visible {
    outline: unset !important;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Quicksand', sans-serif !important;
    background-color: #f7f7f7 !important;
}
a {
    text-decoration: none;
    color: var(--black);
}
.menu-sticky {
    margin: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    transition: all .7s;
}

.menu-sticky.sticky {
    position: fixed;
    background: rgba(255,255,255,.9);
    box-shadow: 0 0 20px -10px rgba(0,0,0,.8);
    padding: 0;
    -webkit-animation: slide-bottom .5s cubic-bezier(.25,.46,.45,.94) both;
    animation: slide-bottom .5s cubic-bezier(.25,.46,.45,.94) both
}


@-webkit-keyframes slide-bottom {
    0%,50% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes slide-bottom {
    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    0% {
        -webkit-transform: translateY(80px);
        transform: translateY(80px)
    }
}

.img-bounce img {
    -webkit-animation: bounce2 4s infinite ease-in-out;
    -o-animation: bounce2 4s infinite ease-in-out;
    -ms-animation: bounce2 4s infinite ease-in-out;
    -moz-animation: bounce2 4s infinite ease-in-out;
    animation: bounce2 4s infinite ease-in-out;
    cursor: pointer;
}

@-webkit-keyframes bounce2 {
    0% {
        transform: translateY(-5px)
    }

    50% {
        transform: translateY(5px)
    }

    100% {
        transform: translateY(-5px)
    }
}

@keyframes bounce2 {
    0% {
        transform: translateY(-5px)
    }

    50% {
        transform: translateY(5px)
    }

    100% {
        transform: translateY(-5px)
    }
}
.type-line::after{
    content: '';
    border: 0;
    width: 50px;
    height: 5px;
    background: var(--green1);
    display: block;
    margin-top: 10px;
}


.our-mission-wrap:hover {
    transform: translateY(-8px);
}

/* .core-values-wrap:hover {
    background-color: var(--green2);
    color : var(--white) !important;
} */

.our-mission-wrap {
    transform: translateY(0);
    transition: .4s;
}
.overly-border {
    border: 1px solid #282828;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
    z-index: 0;
}


.blog-button a {
    background: 0 0;
    color: #212121;
    border: none;
    border-radius: 25px;
    padding-right: 25px;
    line-height: 30px;
    display: inline-block;
    transition: all .4s ease-in-out 0s;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5rem;
    font-weight: 700;
    text-decoration: none;
}
.arrow-news{
    position: absolute;
    top: 0;
    right: 0;
    transition: transform 0.5s ease;
    line-height: 1.5rem;
}
.blog-button a:hover{
    color: var(--green1)
}
.blog-button a:hover .arrow-news{
    color: var(--green1);
    transform: translateX(20%);
}
.banner-slide-image::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #001d0778;
    position: absolute;
    top: 0;
    left: 0;;
}

.service__overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 80%;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
}

.bg-img {
    z-index: 1;
}

.service-item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: -1px;
    bottom: 0;
    z-index: 2;
    border-radius: 12px;
    background-color: #fff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-clip-path: polygon(50% 0,100% 38%,100% 100%,0 100%,0 0);
    clip-path: polygon(50% 0,100% 38%,100% 100%,0 100%,0 0);
}